.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notfound__error {
    margin-top: 246px;
    text-align: center;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.notfound__text {
    margin-top: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.notfound__back {
    text-decoration: none;
    color: #000000;
    margin-top: 184px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.notfound__back:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .notfound__error {
        margin-top: 408px;
    }

    .notfound__back {
        margin-bottom: 222px;
    }
}

@media screen and (max-width: 620px) {
    .notfound__error {
        margin-top: 329px;
        font-size: 80px;
        line-height: 97px;
    }

    .notfound__text {
        margin-top: 10px;
        font-size: 12px;
        line-height: 15px;
    }

    .notfound__back {
        margin-top: 284px;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 15px;
    }
}